# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

#App
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Jamendo music search API
JAMENDO_CLIENT_ID=your_jamendo_client_id
SOUNDCLOUD_CLIENT_ID=your_soundcloud_client_id
SOUNDCLOUD_CLIENT_SECRET=your_soundcloud_client_secret